

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.searchArea {
  width: 600px;
  /* background -color: aqua; */
  margin: 0 auto;
  text-align: center;
  /* width: 10%  */
}

#mag {
  position: absolute;
  left: 356px;
  bottom: 5px
}

.searchLabel {
  position:absolute;
  padding-left: 5px;
  /* top: -2px; */
  z-index: -1;
  font-size: .75rem;
}

.searchField {
  position: relative;
} 

.searchField input{
  background-color: transparent;
  border-top: none;
  border-left: none;
  padding: 5px
}

.searchField input:focus {
  outline: none;
  border-color: skyblue;
  margin-top: 20px;
  transition: margin-top 1s, background-color 1s;
  background-color: rgba(103, 126, 255, 0.395);
}



.weatherCard {
  background-color: antiquewhite;
  max-width: 400px;
  max-height: 600px;
  height: 400px;
  margin: 20px auto;
  /* padding-top: 75px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  border-radius: 50px;
  background-image: linear-gradient(antiquewhite, goldenrod); /* set this based on time of day */
  
}
.weatherCardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
  
}

.weatherCardMain i {
  font-size: 72px;
  padding: 0px;
  margin-top: 20px;
}
.weatherCardMain > h2 {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  text-align: center;
  font-size: 1.25em;
}
.weatherCardMain > h1 {
  font-weight: 600;
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  border-radius: 100%;
}

.weatherCardMain > h3 {
  font-weight: 400;
  padding: 10px;
  margin: 0px;
  font-size: .8em;
}

.weatherStats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.weatherElement {
  /* background-color: blue ; */
  /* flex: 1 0 40%; */
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.weatherElement > i > span {
  font-family: monospace;
  font-weight: 300;
  padding: 10px;
  font-family: "Montserrat", sans-serif;

}

.weatherElement > i {
  font-size: 1.5em;
  
}
 nav {
  background-color: aqua;
  height: 4rem;
  margin-bottom: 2rem;
 }

 .darkBackGround {
  background-color: black;
  color: white;
 }


/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
