

.app {
  max-width: 100%;
  
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(235, 235, 250);
}

.appDark {
  background-color: rgb(41, 41, 41);
  font-family: "Montserrat", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

.searchArea {
  width: 600px;
  /* background -color: aqua; */
  margin: 0 auto;
  text-align: center;
  /* width: 10%  */
}

#mag {
  position: absolute;
  left: 380px;
  bottom: 10px;
}

.searchLabel {
  position:absolute;
  padding-left: 5px;
  /* top: -2px; */
  z-index: -1;
  font-size: 1rem;
}

.searchField {
  position: relative;
} 

.searchField input{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-color: black;
  padding: 7px;
  font-size: 1rem;
}

.searchField input[type="text"]::placeholder{
  font-family: "Pacifico", cursive;
  font-weight: 200;
  color:rgb(90, 90, 90)
}

.searchField input:focus[type="text"]::placeholder{
  
  color:white;
}

.searchField input:focus {
  outline: none;
  border-color: skyblue;
  /* margin-top: 20px; */
  transition: margin-top 1s, background-color 1s;
  background-color: rgba(103, 126, 255, 0.893);
  color: white;
}



.weatherCard {
  background-color: antiquewhite;
  max-width: 400px;
  max-height: 600px;
  height: 400px;
  margin: 20px auto;
  /* padding-top: 75px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  border-radius: 50px;
  background-image: linear-gradient(antiquewhite, rgba(218, 165, 32, 0.526)); 
  border-width: 5px;
  border-style: solid;
  border-color: black;
}
.weatherCardDark {
  background-color:black;
  max-width: 400px;
  max-height: 600px;
  height: 400px;
  margin: 20px auto;
  /* padding-top: 75px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  border-radius: 50px;
  /* background-image: linear-gradient(antiquewhite, rgba(218, 165, 32, 0.526));  */
  border-width: 5px;
  border-style: solid;
  border-color: white;
  color: white;
}

.weatherCardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
  width: 100%
}
.weatherCardMainDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 20px; */
  width: 100%
}

.weatherCardMain i {
  font-size: 72px;
  padding: 0px;
  margin-top: 20px;

}
.weatherCardMainDark i {
  font-size: 72px;
  padding: 0px;
  margin-top: 20px;

}
.weatherCardMain > h2 {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  text-align: center;
  font-size: 1.5em;
}
.weatherCardMain > h1 {
  font-weight: 600;
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  border-radius: 100%;
}

.weatherCardMainDark > h1 {
  color: black;
  font-weight: 600;
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  border-radius: 100%;
}
.weatherCardDark > h2 {
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  text-align: center;
  font-size: 1.5em;
}
.weatherCardMainDark > h3 {
  font-weight: 400;
  padding: 10px;
  margin: 0px;
  font-size: 1em;
  text-align: center;
}


.weatherCardMain > h3 {
  font-weight: 400;
  padding: 10px;
  margin: 0px;
  font-size: 1em;
  text-align: center;
}

.weatherStats {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.weatherElement {
  /* background-color: blue ; */
  /* flex: 1 0 40%; */
  justify-content: center;
  text-align: center;
  padding: 5px;
}
.weatherElement > i > span {
  font-family: monospace;
  font-weight: 300;
  padding: 10px;
  font-family: "Montserrat", sans-serif;

}

.weatherElement > i {
  font-size: 1.5em;
  
}
 nav {
  background-color: rgb(215, 230, 252);
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
 }

 .darkBackGround {
  background-color: black;
  color: white;
 }

 .modeButton {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
 }

 .modeButton:hover {
  cursor: pointer;
  background-color: grey;
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
 }
 

 .modeButton.wi-day-sunny {
  margin: 0;
  padding: 0;
  background-color: skyblue;
  color:goldenrod;
  font-size: 2em;
  text-shadow: 1px 1px 0 white;
  box-shadow: 2px 2px 5px goldenrod;
 }

 .modeButton.wi-moon-waning-crescent-5 {
  margin: 0;
  padding: 0;
  background-color: black;
  color:goldenrod;
  font-size: 2em;
  text-shadow: 1px 1px 0 gold;
  box-shadow: 2px 2px 5px goldenrod;
 }

footer {
  background-color: rgb(215, 230, 252);
  height: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
 }

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
